/*201701201727L   EL VIERNES   GIRO*/

.firstnameUpper{
	color: teal;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	padding-left: 11px;
	}

p{
	text-align: left;
	padding-left: 40px;
}
	h2{
		color: teal ;
						text-align: center;
		}
		h1{
	color: teal ;
					font-weight: bold;
					text-align: center;
	}
	div:not(:last-of-type){
				/*li:not(:first-child):before*/
				/*background-color: blue;*/
				/*background: blue;*/
					/*color: orange;*/
					/*display: flex;*/
					flex-direction: column;
					border-right: solid green 3px;
				}
							.active	{
											color: rgba(0,0,255,.5) ;
											font-weight: bold;
											text-align: left;
											font-size: 22px;
											padding-right: 11px;
										}
footer a {
		width: 100%;
		display: inline;
		/*padding-top: 22px;*/
		/*border: solid red 1px;*/
		padding: 11px;
		/*margin-top: 11px;*/
	}

body {
text-align:center;
		border: solid black 1px;
}
img {
				margin-top: 55px;
				margin-bottom: 55px;
				border: solid blue 1px;
				padding: 11px;
}

main {
	display: flex;
	justify-content: space-around;
}
		h2{
							/*color:#ffd700;*/
							color: rgba(255,0,0,.5) ;
							text-align: center;
							margin: auto;
						  display: block;
		}
